# Miscellaneous
lycs_fid_customers/*.class
lycs_fid_customers/*.log
lycs_fid_customers/*.pyc
lycs_fid_customers/*.swp
lycs_fid_customers/.DS_Store
lycs_fid_customers/.atom/
lycs_fid_customers/.buildlog/
lycs_fid_customers/.history
lycs_fid_customers/.svn/
lycs_fid_customers/migrate_working_dir/

# IntelliJ related
lycs_fid_customers/*.iml
lycs_fid_customers/*.ipr
lycs_fid_customers/*.iws
lycs_fid_customers/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
lycs_fid_customers/**/doc/api/
lycs_fid_customers/**/ios/Flutter/.last_build_id
lycs_fid_customers/.dart_tool/
lycs_fid_customers/.flutter-plugins
lycs_fid_customers/.flutter-plugins-dependencies
lycs_fid_customers/.packages
lycs_fid_customers/.pub-cache/
lycs_fid_customers/.pub/
lycs_fid_customers/build/

# Symbolication related
lycs_fid_customers/app.*.symbols

# Obfuscation related
lycs_fid_customers/app.*.map.json

# Android Studio will place build artifacts here
lycs_fid_customers/android/app/debug
lycs_fid_customers/android/app/profile
lycs_fid_customers/android/app/release
