<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2vaH4GJrf7Q-ZIOrJTZFSwDiffShW7wM</string>
	<key>GCM_SENDER_ID</key>
	<string>115893884119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lycsFidCustomers</string>
	<key>PROJECT_ID</key>
	<string>lycs-fid-customer</string>
	<key>STORAGE_BUCKET</key>
	<string>lycs-fid-customer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115893884119:ios:4d7eea97d9b6b3c8b88c92</string>
</dict>
</plist>